@font-face {
  font-family: 'Inclusive Sans';
  src: url('/font/InclusiveSans-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: 100% 0 0;
  --light: 98% 0.02 85;
  --dark: 40% 0.02 18;
  --green1: 85% 0.09 150;
  --green2: 50% 0.12 150;
  --padding: clamp(1rem, 8dvw, 3rem);
  background: oklch(var(--light));
  line-height: 1.25;
}

body {
  display: grid;
  grid-template-columns:
    1fr
    var(--padding)
    [main-start]
    clamp(10rem, 84dvw, 40rem)
    [main-end]
    var(--padding)
    1fr;
  margin: 0;
  padding: var(--padding) 0;
}

body > * {
  grid-column: main-start / main-end;
}

* {
  box-sizing: border-box;
  color: oklch(var(--dark));
  font-family: 'Inclusive Sans', sans-serif;
}

a,
a:visited {
  color: oklch(var(--dark));
  transition: color 200ms;
}

a:focus,
a:hover {
  color: oklch(var(--green2));
}

h1,
h2,
p {
  margin-block: 0 1.5rem;
}

form {
  display: grid;
  gap: 1rem;
  margin-block-end: var(--padding);
}

label {
  display: block;
  margin-block-end: -0.5rem;
  max-width: fit-content;
}

button {
  appearance: none;
  background: oklch(var(--white));
  border: calc((1 / 16) * 1rem) solid oklch(var(--green2) / 0.5);
  border-top: 0;
  border-left: 0;
  border-radius: 0.3rem;
  box-shadow: calc((-1 / 16) * 1rem) calc((-1 / 16) * 1rem) 0
    oklch(var(--green1));
  color: oklch(var(--green2));
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  max-width: max-content;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  transition: color 200ms, background-color 200ms, box-shadow 200ms;
}

button:hover {
  background-color: oklch(var(--green2));
  color: oklch(var(--white));
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

progress {
  opacity: 0;
  width: 100%;
}

.progress {
  background: oklch(var(--dark) / 0.2);
  border-radius: 0.5rem;
  height: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.progress::after {
  background: linear-gradient(
    to right,
    oklch(var(--green1)),
    oklch(var(--green2))
  );
  border-radius: 0.3rem;
  content: '';
  display: block;
  position: absolute;
  inset-block: 0;
  inset-inline-start: calc(-100% + (1% * var(--value)));
  transition: inset-inline-start 200ms;
  width: 100%;
}

#actions {
  display: flex;
  gap: 0.5rem;
}

#files {
  display: grid;
  gap: 1rem;
  margin-block-end: var(--padding);
}

#files p {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
}

#files button {
  font-size: 0.875rem;
  padding: 0.3rem 0.5rem;
}

#files p > * {
  flex: 0 0 auto;
}

#files span {
  font-size: 0.875rem;
}

#files .size {
  color: oklch(var(--dark) / 0.8);
}
